model_config_list: {
  config: {
    name: 'SUPERCLASS',
    base_path: '/models/SUPERCLASS',
    model_platform: "tensorflow"
  }
  config: {
    name: 'CLASS',
    base_path: '/models/CLASS',
    model_platform: "tensorflow"
  }
  config: {
    name: 'PATHWAY',
    base_path: '/models/PATHWAY',
    model_platform: "tensorflow"
  }
}